@{
    ViewData["Title"] = "Доступные файлы";
}
<h3>Arma 3</h3>
<a href="/downloads/GetFileArmaAC">1. AC.pbo - modified Arma Commander file</a>
<br>
<a href="/downloads/GetFileArmaDefenseOfRostov">2. Last modified mission with all scripts</a>
<br>
<a href="/downloads/GetFileArmaFOG">3. FOG - custom patches</a>
<h3>Hearts of iron 4</h3>
<a href="/downloads/GetFileHOI4InfantryDocumentationy" class="my-link">1. Infantry documentation (outdated)</a>
<br>
<a href="/downloads/GetFileHOI4NavyDocumentationy">2. Navy documentation</a>